<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="name-field">
            {{ form.name.label }}            
            {{ form.name(class = "form-control", placeholder="Name") }}
        </fieldset>
        <fieldset id="description-field">
            {{ form.description.label }}            
            {{ form.description(class = "form-control", placeholder="Description") }}
        </fieldset>
        <fieldset id="price-field">
            {{ form.price.label }}            
            {{ form.price(class = "form-control", placeholder="Price") }}
        </fieldset>
        <fieldset id="chocolate_quality">
            {{ form.chocolate_quality.label }}            
            {{ form.chocolate_quality(class = "form-control", placeholder="Chocolate Quality") }}
        </fieldset>
        <fieldset id="melt_temp">
            {{ form.melt_temp.label }}            
            {{ form.melt_temp(class = "form-control", placeholder="Melting Tempature") }}
        </fieldset>
        <fieldset id="freeze_time">
            {{ form.freeze_time.label }}            
            {{ form.freeze_time(class = "form-control", placeholder="Freeze Time") }}
        </fieldset>
        <fieldset id="height-field">
            {{ form.height.label }}            
            {{ form.height(class = "form-control", placeholder="Height") }}
        </fieldset>
        <fieldset id="weight-field">
            {{ form.weight.label }}            
            {{ form.weight(class = "form-control", placeholder="Weight") }}
        </fieldset>
        <fieldset id="cop-field">
            {{ form.cost_of_production.label }}            
            {{ form.cost_of_production(class = "form-control", placeholder="Cost of Production") }}
        </fieldset>
        <fieldset id="series-field">
            {{ form.series.label }}            
            {{ form.series(class = "form-control", placeholder="Series") }}
        </fieldset>
        <fieldset id="dadjoke-field">
            {{ form.dad_joke.label }}            
            {{ form.dad_joke(class = "form-control", placeholder="Dad Joke") }}
        </fieldset>


        <!-- Submit Button Area -->
        {{ form.submit_button(class = "btn btn-primary btn-block mt-2") }}

    </div>   
</form>