{% extends 'base.html' %}


{% block content %}
<div class="conainer">

    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Let's collect some Candy Bars! (👉ﾟヮﾟ)👉 </h2>
            <h5>Create an amazing API for collecting Candy Bars!</h5>
        
            <div>
                <button class="btn btn-primary">View Info</button>
                <button class="btn btn-primary">Join our Slack</button>
            </div>
        </div>flask run
        

            <div class="col-md-6">
                <img src="../../static/images/barprofile.jpg" alt="Hero Header Image" class="Header Image">
            </div>

        
    </header>

    <!-- end headers -->
    <!--start of middle -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Candy Bars! (👉ﾟヮﾟ)👉 </h2>
            <p>you can use the power of api to grow your Collection!</p>
        </div>
    </section>
    <!-- end of middle -->
    <!-- feature Section -->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/apibar.jpg" alt="bar api" id="api-image">
            <h4>API routes for all</h4>
            <p>Boy do we have API routes</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/bargi.jpg" alt="bar GQL" id="graphql-image">
            <h4>GQL API route</h4>
            <p>If you want it you can have it.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/bardb.png" alt="bar db" id="database-image">
            <h4>Backed by Us and Our Database</h4>
            <p>All data is secure.</p>
        </div>
    </section>
    <!-- end of features -->
    <!-- community section -->

    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/barserval.jpg" alt="Candy bar Image" id="bar-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with people about Candy Bars!</h4>
            <p>
                Talk with other people about Candy Bar and Candy Bar data.
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Channel</button>
            </div>
        </div>
    </section>
    <!-- end of Community Section -->
    <footer class="row">
        <div class="col-2 col-md-4">
            <img src="../../static/images/barlogo.jpg" alt="bar logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
               <h4>Platform</h4>
               <p>Why a Candy Bar API?</p>
               <p>The Bar Thing</p>
               <p>Donate</p>
               <p>Say What</p>
               <p>Our Deal</p>
                           
                
            </div>
        </div>
    </footer>

</div>


{% endblock content %}